.player-footer {
  position: fixed;
  width: 100%;
  background-color: var(--light);
  bottom: 0;
  left: 0;

  @include glassBackgrounds;

  .footer-container {
    padding: 1.25rem 2.5rem;
    display: flex;
    justify-content: space-between;
  }
}
