.player {
  &--main {
    @media screen and (min-width: 60rem) {
      display: flex;
      height: 100vh;
    }
  }

  &--current {
    background-color: #e8e8e8;
    align-content: center;
    position: relative;
    background-repeat: repeat;
    background-position: 0 0;
    // background: url(./../img/trustfall-banner.jpg) repeat 0 0;
    background-repeat: repeat;
    background-position: 0 0;
    animation: bg-scrolling 30s infinite alternate;
    animation-timing-function: linear;

    .inner {
      z-index: 1;
      max-width: 20rem;
      margin: auto;
      padding-top: 7rem;
      align-items: center;
      // display: none;
      flex-direction: column;

      img {
        // display: none;
      }

      @media screen and (min-width: 60rem) {
        padding-top: 0;
        max-width: 30rem;
      }

      @media screen and (min-width: 67rem) {
        max-width: 40rem;
      }
      // .btn-shuffle {
      //   display: none;
      // }

      // .gradient--border {
      //   &::after {
      //     background: transparent;
      //   }
      // }
    }

    &:not(.playing) {
      .btn-shuffle {
        display: none;
      }
      .gradient--border {
        &::after {
          background: transparent;
        }
      }
    }

    // &.expanded {
    // animation: expand 2s ease-out;
    @media screen and (min-width: 60rem) {
      display: flex;
      flex: 50%;
      padding-bottom: 2.8125rem;
    }
    @media screen and (min-width: 67rem) {
      flex: 60%;
    }
    .inner {
      display: flex;
      img {
        // display: unset;
      }
      // }
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      background: rgba(80, 80, 80, 0.45);
      box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(0.9125rem);
      -webkit-backdrop-filter: blur(0.9125rem);
    }

    img {
      box-shadow: rgba(0, 0, 0, 0.16) 0 0.625rem 2.25rem 0,
        rgba(0, 0, 0, 0.06) 0 0 0 0.0625rem;
      margin: auto;

      @media screen and (min-width: 60rem) {
        max-width: 25rem;
      }

      @media screen and (min-width: 67rem) {
        max-width: 35rem;
      }
    }
  }

  &--playlist {
    position: relative;

    @media screen and (min-width: 60rem) {
      flex: 50%;
    }

    @media screen and (min-width: 67rem) {
      flex: 35%;
    }
  }
}
