.player {
  &--main {
    margin: 5.5rem 1.3rem 0;
    @media screen and (min-width: 60rem) {
      display: flex;
      height: 80vh;
      margin: 0 1.3rem;
    }
  }

  &--current {
    background-color: var(--body-bg);
    align-content: center;
    position: relative;
    background-repeat: repeat;
    background-position: 0 0;
    background-repeat: repeat;
    background-position: 0 0;

    @media screen and (min-width: 60rem) {
      margin-right: 1.3rem;
    }
    border-radius: 0.625rem;

    &.playing {
      animation: bg-scrolling 45s infinite alternate;

      .inner {
        &::before {
          background: transparentize($dark, 0.55);
        }
      }
    }

    .inner {
      z-index: 1;
      max-width: 20rem;
      margin: auto;
      padding-top: 1rem;
      align-items: center;
      flex-direction: column;

      @media screen and (min-width: 60rem) {
        padding-top: 0;
        max-width: 30rem;
      }

      @media screen and (min-width: 67rem) {
        max-width: 40rem;
      }
    }

    &:not(.playing) {
      .gradient--border {
        &::after {
          background: transparent;
        }
      }
    }

    @media screen and (min-width: 60rem) {
      display: flex;
      flex: 50%;
      padding-bottom: 2.8125rem;
    }
    @media screen and (min-width: 67rem) {
      flex: 60%;
    }
    .inner {
      display: flex;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: background 800ms ease-in-out;
        background: $dark;
        box-shadow: 0 0.25rem 1.875rem transparentize($black, 0.9);
        backdrop-filter: blur(0.9125rem);
        -webkit-backdrop-filter: blur(0.9125rem);
        border-radius: 0.6rem;
      }
    }

    // .img--container {
    //   width: 45vw;
    //   height: 45vw;
    //   @media screen and (min-width: 60rem) {
    //     width: unset;
    //     height: unset;
    //   }
    // }

    img {
      box-shadow: transparentize($black, 0.84) 0 0.625rem 2.25rem 0,
        transparentize($black, 0.94) 0 0 0 0.0625rem;
      margin: auto;

      border-radius: 0.625rem;

      @media screen and (min-width: 60rem) {
        max-width: 25rem;
      }

      @media screen and (min-width: 67rem) {
        width: 30rem;
      }
    }
  }

  &--playlist {
    position: relative;
    margin-top: 2rem;
    @media screen and (min-width: 60rem) {
      margin-top: 0;
    }

    .track--time {
      position: relative;
    }

    @media screen and (min-width: 60rem) {
      flex: 50%;
    }

    @media screen and (min-width: 67rem) {
      flex: 35%;
    }
  }
}
