.progress {
  background: var(--progress);
  width: 0%;
  height: 0.28rem;
  position: absolute;
  top: 5px;
  left: 0;

  transition: width 200ms ease;

  .played {
    &::after {
      content: "";
      width: 0.625rem;
      height: 0.625rem;
      background-color: var(--progress);
      display: inline-block;
      position: absolute;
      right: -0.125rem;
      top: -0.25rem;
      border-radius: 50%;
    }
  }
}
